@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

html,
body {
  font-family: 'LXGW WenKai TC', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300 ease-in-out dark:bg-[#0b96db] dark:text-white;
    font-family: 'LXGW WenKai TC', sans-serif;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

/* Page Transition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 2px; /* 可以根据需要调整高度 */
  background-color: #0070f3; /* 可以根据需要调整颜色 */
  z-index: 9999;
  transition: width 0.3s ease-in-out;
}

.name-highlight {
  font-weight: 120;
  line-height: 1.025;
  resize: both;
  overflow: hidden;
  width: 10ch;
  background: var(--primary-bg),
    linear-gradient(var(--secondary) 0 calc(var(--spread) * 1lh), transparent);
  background-repeat: no-repeat;
  background-size:
    100% calc(var(--highlight) * 1lh),
    100% calc(100% - (var(--highlight) * 1lh));
  background-position:
    0 0,
    0 calc(var(--highlight) * 1lh);
  background-clip: text;
  color: transparent;
  text-wrap: balance;
  font-size: clamp(2rem, 1rem + 4vw, 12rem);
  display: inline-block;
  margin: 0;
}
